@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

nav a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 12px 18px;
}

nav a:hover {
    background-color: pink;
}

header {
    text-align: center;
    margin-bottom: 36px;
    padding: 12px;
}

h2 {
    font-weight: bold;
    font-size: 28px;
    margin-top: 26px;
    margin-bottom: 18px;
    text-align: center;
}

header p {
    font-size: 16px;
}

#site-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#nav-menu {
    text-align: center;
}

#slider article {
    padding: 12px;
}

#slider figure {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#slider figure img {
    max-width: 100%;
    height: auto;
    text-align: center;
    object-position: center;
}

#slider figcaption {
    padding: 13px;
}

.caption-profile {
    margin: 18px 0;
    display: flex;
    column-gap: 24px;
}

.caption-profile img {
    border-radius: 100%;
}

.benefits h3 {
    text-align: center;
    margin-bottom: 36px;
    margin-top: 36px;
}

.benefits-info {
    display: flex;
    column-gap: 24px;
    margin-bottom: 18px;
}

.benefits-info span {
    display: block;
    align-self: center;
    background-color: violet;
    border-radius: 100%;
    padding: 12px 18px;
    font-size: 16px;
}

#contact {
    padding: 24px;
    background-color: #eeeeee;
}

#contact h3 {
    text-align: center;
    margin-bottom: 12px;
}

#contact form {
    margin-top: 56px;
}

.form-input-wrapper {
    margin-bottom: 16px;
}

.form-input-wrapper label,
.form-input-wrapper input {
    display: block;
}

.form-input-wrapper input {
    padding: 12px 18px;
    width: 100%;
}

.form-input-wrapper button {
    display: block;
    width: 100%;
    padding: 18px 12px;
    text-align: center;
    background-color: #222222;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}

#package {
    background-color: #eeeeee;
}

#package h2 {
    padding-top: 18px;
}

.package-wrapper {
    background-color: #ffffff;
    padding: 18px 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.package-icon span {
    display: inline-block;
    padding: 12px 18px;
    background-color: pink;
    border-radius: 100%;
}

.package-info {
    margin: 12px 0;
}

#closing {
    text-align: center;
    padding: 12px;
}

#closing div {
    margin-top: 36px;
}

#closing button {
    padding: 12px 18px;
    border: none;
    background-color: #222222;
    color: white;
    margin-bottom: 24px;
}

footer {
    text-align: center;
    padding: 24px 12px;
}

.foot {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    row-gap: 12px;
    flex-wrap: wrap;
}

.footer-brand {
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 600;
}